@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Bebas Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p{
  font-size: .7em !important;

}
h2{
  font-size: 2em !important;

}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 166, 0, 0);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 255, 0);
  border-radius: 20px;
  border: 0px solid rgba(255, 166, 0, 0);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.pagination li {
  display: inline-block;
  margin: 0 4px;
  cursor: pointer;
}

.pagination a {
  text-decoration: none;
  color: #333;
  padding: 8px;
}

.pagination .active a {
  color: #fff;
  background-color: #f7bc0b;
  border-radius: 5px;
}

.pagination .previous a,
.pagination .next a {
  color: #f7bc0b;
  font-weight: bold;
}

.pagination .disabled a {
  color: #ccc;
  pointer-events: none;
}

.bs-none{
  box-shadow: none !important;
}

@media (max-width: 500px) {
  .col-3{
  flex: 0 0 auto;
  width: 50% !important;
  }
}